{
  "extends": [
    "next",
    "airbnb",
    "prettier",
    "prettier/react",
    "plugin:prettier/recommended",
    "plugin:cypress/recommended"
  ],
  "root": true,
  "env": {
    "browser": true,
    "commonjs": true,
    "node": true,
    "es6": true,
    "jest": true
  },
  "parser": "@babel/eslint-parser",
  "parserOptions": {
    "ecmaVersion": 6,
    "ecmaFeatures": {
      "experimentalObjectRestSpread": true,
      "jsx": true
    },
    "sourceType": "module",
    "requireConfigFile": false
  },
  "plugins": ["prettier", "react-hooks", "unused-imports"],
  "rules": {
    "no-console": "off",
    "strict": ["error", "global"],
    "curly": "warn",
    "linebreak-style": "off",
    "no-async-promise-executor": "off",
    "comma-dangle": [
      "error",
      {
        "arrays": "always-multiline",
        "objects": "always-multiline",
        "imports": "always-multiline",
        "exports": "always-multiline",
        "functions": "always-multiline"
      }
    ],
    "consistent-return": "off",
    "jsx-a11y/anchor-is-valid": "off",
    "import/prefer-default-export": "off",
    "import/no-named-as-default": "off",
    "import/no-unresolved": "off",
    "import/extensions": "off",
    "react/require-default-props": "off",
    "react/jsx-props-no-spreading": "off",
    "react-hooks/rules-of-hooks": "error",
    "react/state-in-constructor": "off",
    "react/no-array-index-key": "off",
    "react/jsx-filename-extension": "off",
    "react/prop-types": "off",
    "react/jsx-uses-react": "off",
    "react/react-in-jsx-scope": "off",
    "react/jsx-no-undef": [
      "error",
      {
        "allowGlobals": true
      }
    ],
    // TODO: Fix all eslint related to the rules below after merging all other outstanding branches
    "no-unused-vars": "off",
    "unused-imports/no-unused-imports": "off",
    "unused-imports/no-unused-vars": [
      "warn",
      { "vars": "all", "varsIgnorePattern": "^_", "args": "after-used", "argsIgnorePattern": "^_" }
    ],
    "camelcase": "warn",
    "react/forbid-prop-types": "off"
  },
  "globals": {
    "cy": true
  }
}
